In [183]:
import pandas as pd
directory = "C:/Users/logan/Desktop/FHNW/cwm1/out_1_2.csv"
df = pd.read_csv(directory, sep =";")
df = df.iloc[1:,:4]
df.columns = ["Date", "Time", "Mass (kg)", "Velocity (m/s)"]
df_energy = pd.DataFrame()
df.insert(4, "Energy", "")
for i in range(len(df)):
    df.iloc[i,4] = 0.5 * float(df.iloc[i,2]) * float(df.iloc[i,3]) ** 2 / 1000
df = df.sort_values(['Date', 'Time']).reset_index(drop=True)
df

          Date   Time Mass (kg) Velocity (m/s)     Energy
0   2019-01-01  09:00       194            8.4    6.84432
1   2019-01-01  09:00        38           45.4   39.16204
2   2019-01-01  21:00       224            8.8    8.67328
3   2019-01-02  14:00      3104            9.2  131.36128
4   2019-01-03  06:00       187           41.6  161.80736
..         ...    ...       ...            ...        ...
95  2019-03-25  14:00        63           43.2   58.78656
96  2019-03-26  00:00        44            8.9    1.74262
97  2019-03-26  06:00        45            8.4     1.5876
98  2019-03-27  16:00       312            5.8    5.24784
99  2019-03-28  01:00        58           37.2   40.13136

[100 rows x 5 columns]

In [276]:
slotboard = []
for i in range(1,4):
    for j in range(1,32):
        slot = []
        if j == 9:
            date1 = "2019-0"+str(i)+"-0"+str(j)
            date2 = "2019-0"+str(i)+"-"+str(j+1)
        if j >= 10:
            date1 = "2019-0"+str(i)+"-"+str(j)
            date2 = "2019-0"+str(i)+"-"+str(j+1)
        else:
            date1 = "2019-0"+str(i)+"-0"+str(j)
            date2 = "2019-0"+str(i)+"-0"+str(j+1)

        df_temp2 = df[df['Date'].str.match(date2)]
        df_temp = df[df['Date'].str.match(date1)]

        for x in range(len(df_temp)):
            timee = df_temp.iloc[x,1]
            timee = int(timee[0:2])
            if timee > 8:
                slot.append(df_temp.iloc[x,:])


        for x in range(len(df_temp2)):
            timee = df_temp2.iloc[x,1]
            timee = int(timee[0:2])
            if timee <= 8:
                slot.append(df_temp2.iloc[x,:])
                print(df_temp2.iloc[x,:])

        slotboard.append(slot)
        print("------------------------------------------------")

total = 0
#for i in range(len(slotboard)):
 #   if len(slotboard[i]) != 0:
  #      for j in range(len(slotboard[i])):
   #         total += 1
    #        print(slotboard[i][j]["Date"])
    #        if slotboard[i][j]["Date"] == "2019-02-10":
     #           print("hoi")
#    print("------------------------------")

#print(total)

------------------------------------------------
Date              2019-01-03
Time                   06:00
Mass (kg)                187
Velocity (m/s)          41.6
Energy             161.80736
Name: 4, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-01-11
Time                   06:00
Mass (kg)                 65
Velocity (m/s)          39.6
Energy               50.9652
Name: 11, dtype: object
Date              2019-01-11
Time                   08:00
Mass (kg)               1019
Velocity (m/s)          10.4
Energy              55.10752
Name: 12, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-01-13
Time                   08:00
Mass (kg)               1288
Velocity (m/s)          10.8
Energy              75.11616
Name: 14, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-01-15
Time                   05:00
Mass (kg)                344
Velocity (m/s)            10
Energy                  17.2
Name: 16, dtype: object
------------------------------------------------
Date              2019-01-16
Time                   02:00
Mass (kg)                 22
Velocity (m/s)          46.5
Energy              23.78475
Name: 17, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-01-18
Time                   01:00
Mass (kg)                 79
Velocity (m/s)           6.9
Energy              1.880595
Name: 20, dtype: object
Date              2019-01-18
Time                   06:00
Mass (kg)                146
Velocity (m/s)          36.2
Energy              95.66212
Name: 21, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-01-20
Time                   03:00
Mass (kg)                260
Velocity (m/s)          11.2
Energy               16.3072
Name: 23, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-01-23
Time                   08:00
Mass (kg)                220
Velocity (m/s)           9.1
Energy                9.1091
Name: 27, dtype: object
------------------------------------------------
Date              2019-01-24
Time                   02:00
Mass (kg)                827
Velocity (m/s)           8.5
Energy             29.875375
Name: 30, dtype: object
Date              2019-01-24
Time                   04:00
Mass (kg)                208
Velocity (m/s)          11.2
Energy              13.04576
Name: 31, dtype: object
------------------------------------------------
Date              2019-01-25
Time                   04:00
Mass (kg)                 79
Velocity (m/s)           9.4
Energy               3.49022
Name: 32, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-01-29
Time                   07:00
Mass (kg)                 50
Velocity (m/s)            40
Energy                  40.0
Name: 35, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-02-03
Time                   03:00
Mass (kg)                140
Velocity (m/s)          12.6
Energy               11.1132
Name: 37, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-02-05
Time                   03:00
Mass (kg)                 12
Velocity (m/s)           8.8
Energy               0.46464
Name: 39, dtype: object
Date              2019-02-05
Time                   04:00
Mass (kg)                419
Velocity (m/s)          10.9
Energy             24.890695
Name: 40, dtype: object
------------------------------------------------
Date              2019-02-06
Time                   02:00
Mass (kg)                 77
Velocity (m/s)            38
Energy                55.594
Name: 41, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-02-14
Time                   05:00
Mass (kg)                138
Velocity (m/s)          33.2
Energy              76.05456
Name: 50, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-02-18
Time                   03:00
Mass (kg)                567
Velocity (m/s)           8.2
Energy              19.06254
Name: 57, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-02-21
Time                   00:00
Mass (kg)                609
Velocity (m/s)          12.4
Energy              46.81992
Name: 59, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-02-28
Time                   05:00
Mass (kg)                 37
Velocity (m/s)          32.2
Energy              19.18154
Name: 67, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
Date              2019-03-26
Time                   00:00
Mass (kg)                 44
Velocity (m/s)           8.9
Energy               1.74262
Name: 96, dtype: object
Date              2019-03-26
Time                   06:00
Mass (kg)                 45
Velocity (m/s)           8.4
Energy                1.5876
Name: 97, dtype: object
------------------------------------------------
------------------------------------------------
Date              2019-03-28
Time                   01:00
Mass (kg)                 58
Velocity (m/s)          37.2
Energy              40.13136
Name: 99, dtype: object
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------
------------------------------------------------

In [195]:

for i in range(len(slotboard)):
    weight = 0
    for j in range(len(slotboard[i])):
        if weight > 2000:
            if slotboard[i][j]["Energy"] >= 5:
                print("kaputt, wuaaaaaaaaaaah")
        elif slotboard[i][j]["Energy"] >= 1000:
            print(slotboard[i][j]["Energy"])

        weight = weight + int(slotboard[i][j]["Mass (kg)"])

kaputt, wuaaaaaaaaaaah
kaputt, wuaaaaaaaaaaah
kaputt, wuaaaaaaaaaaah
kaputt, wuaaaaaaaaaaah

In [186]:
print(slotboard[0][0])
print()
print(slotboard[0][1])
print()
print(slotboard[0][2])
print()
print(slotboard[0][0]["Mass (kg)"],slotboard[0][1]["Mass (kg)"],slotboard[0][2]["Mass (kg)"])

Date              2019-01-01
Time                   09:00
Mass (kg)                194
Velocity (m/s)           8.4
Energy               6.84432
Name: 0, dtype: object

Date              2019-01-01
Time                   09:00
Mass (kg)                 38
Velocity (m/s)          45.4
Energy              39.16204
Name: 1, dtype: object

Date              2019-01-01
Time                   21:00
Mass (kg)                224
Velocity (m/s)           8.8
Energy               8.67328
Name: 2, dtype: object

194 38 224