In [11]:
#Dataset is imported and passed to df dataframe
import pandas as pd
directory = "C:/Users/logan/Desktop/FHNW/cwm1/out_1_2.csv"
df = pd.read_csv(directory, sep =";")
df = df.iloc[1:,:4]
df.columns = ["Date", "Time", "Mass (kg)", "Velocity (m/s)"]
df_energy = pd.DataFrame()
df.insert(4, "Energy", "")
for i in range(len(df)):
    df.iloc[i,4] = 0.5 * float(df.iloc[i,2]) * float(df.iloc[i,3]) ** 2 / 1000 #calculation of Energy
df = df.sort_values(['Date', 'Time']).reset_index(drop=True)
df #this is the table with all stones combined

          Date   Time Mass (kg) Velocity (m/s)     Energy
0   2019-01-01  09:00       194            8.4    6.84432
1   2019-01-01  09:00        38           45.4   39.16204
2   2019-01-01  21:00       224            8.8    8.67328
3   2019-01-02  14:00      3104            9.2  131.36128
4   2019-01-03  06:00       187           41.6  161.80736
..         ...    ...       ...            ...        ...
95  2019-03-25  14:00        63           43.2   58.78656
96  2019-03-26  00:00        44            8.9    1.74262
97  2019-03-26  06:00        45            8.4     1.5876
98  2019-03-27  16:00       312            5.8    5.24784
99  2019-03-28  01:00        58           37.2   40.13136

[100 rows x 5 columns]

In [12]:
slotboard = []  #creating a board with all slots and inside a slot are all stones that fall during this period,
for i in range(1,4):
    for j in range(1,32):
        slot = []
        if j == 9:
            date1 = "2019-0"+str(i)+"-0"+str(j)
            date2 = "2019-0"+str(i)+"-10"
        elif j >= 10:
            date1 = "2019-0"+str(i)+"-"+str(j)
            date2 = "2019-0"+str(i)+"-"+str(j+1)
        elif j < 9:
            date1 = "2019-0"+str(i)+"-0"+str(j)
            date2 = "2019-0"+str(i)+"-0"+str(j+1)


        df_temp = df[df['Date'].str.match(date1)]
        df_temp2 = df[df['Date'].str.match(date2)]

        for x in range(len(df_temp)):  #all stones that fall in a slot after 8 a.m.
            timee = df_temp.iloc[x,1]
            timee = int(timee[0:2])
            if timee > 8:
                slot.append(df_temp.iloc[x,:])

        for x in range(len(df_temp2)):  #all stones that fall in a slot before 8 a.m. the next day
            timee = df_temp2.iloc[x,1]
            timee = int(timee[0:2])
            if timee <= 8:
                slot.append(df_temp2.iloc[x,:])

        slotboard.append(slot)

#print out all slots and their stones, separated by "--------"
for i in range(len(slotboard)):
    if len(slotboard[i]) != 0:
        for j in range(len(slotboard[i])):
            print(slotboard[i][j])
    print("--------------------------------------")

Date              2019-01-01
Time                   09:00
Mass (kg)                194
Velocity (m/s)           8.4
Energy               6.84432
Name: 0, dtype: object
Date              2019-01-01
Time                   09:00
Mass (kg)                 38
Velocity (m/s)          45.4
Energy              39.16204
Name: 1, dtype: object
Date              2019-01-01
Time                   21:00
Mass (kg)                224
Velocity (m/s)           8.8
Energy               8.67328
Name: 2, dtype: object
--------------------------------------
Date              2019-01-02
Time                   14:00
Mass (kg)               3104
Velocity (m/s)           9.2
Energy             131.36128
Name: 3, dtype: object
Date              2019-01-03
Time                   06:00
Mass (kg)                187
Velocity (m/s)          41.6
Energy             161.80736
Name: 4, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-04
Time                   10:00
Mass (kg)                 36
Velocity (m/s)          44.6
Energy              35.80488
Name: 5, dtype: object
Date              2019-01-04
Time                   15:00
Mass (kg)                228
Velocity (m/s)             8
Energy                 7.296
Name: 6, dtype: object
--------------------------------------
Date              2019-01-05
Time                   23:00
Mass (kg)                755
Velocity (m/s)             7
Energy               18.4975
Name: 7, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-07
Time                   14:00
Mass (kg)                  6
Velocity (m/s)          41.2
Energy               5.09232
Name: 8, dtype: object
--------------------------------------
Date              2019-01-08
Time                   16:00
Mass (kg)                215
Velocity (m/s)           6.5
Energy              4.541875
Name: 9, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-10
Time                   10:00
Mass (kg)                300
Velocity (m/s)           7.9
Energy                9.3615
Name: 10, dtype: object
Date              2019-01-11
Time                   06:00
Mass (kg)                 65
Velocity (m/s)          39.6
Energy               50.9652
Name: 11, dtype: object
Date              2019-01-11
Time                   08:00
Mass (kg)               1019
Velocity (m/s)          10.4
Energy              55.10752
Name: 12, dtype: object
--------------------------------------
Date              2019-01-11
Time                   16:00
Mass (kg)                 58
Velocity (m/s)          33.2
Energy              31.96496
Name: 13, dtype: object
--------------------------------------
Date              2019-01-13
Time                   08:00
Mass (kg)               1288
Velocity (m/s)          10.8
Energy              75.11616
Name: 14, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-14
Time                   11:00
Mass (kg)                365
Velocity (m/s)          40.2
Energy              294.9273
Name: 15, dtype: object
Date              2019-01-15
Time                   05:00
Mass (kg)                344
Velocity (m/s)            10
Energy                  17.2
Name: 16, dtype: object
--------------------------------------
Date              2019-01-16
Time                   02:00
Mass (kg)                 22
Velocity (m/s)          46.5
Energy              23.78475
Name: 17, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-17
Time                   14:00
Mass (kg)                707
Velocity (m/s)             6
Energy                12.726
Name: 18, dtype: object
Date              2019-01-17
Time                   18:00
Mass (kg)                938
Velocity (m/s)          10.2
Energy              48.79476
Name: 19, dtype: object
Date              2019-01-18
Time                   01:00
Mass (kg)                 79
Velocity (m/s)           6.9
Energy              1.880595
Name: 20, dtype: object
Date              2019-01-18
Time                   06:00
Mass (kg)                146
Velocity (m/s)          36.2
Energy              95.66212
Name: 21, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-19
Time                   17:00
Mass (kg)                 29
Velocity (m/s)          38.3
Energy             21.269905
Name: 22, dtype: object
Date              2019-01-20
Time                   03:00
Mass (kg)                260
Velocity (m/s)          11.2
Energy               16.3072
Name: 23, dtype: object
--------------------------------------
Date              2019-01-20
Time                   22:00
Mass (kg)                 40
Velocity (m/s)          41.6
Energy               34.6112
Name: 24, dtype: object
--------------------------------------
Date              2019-01-21
Time                   11:00
Mass (kg)                304
Velocity (m/s)          36.7
Energy             204.72728
Name: 25, dtype: object
--------------------------------------
Date              2019-01-22
Time                   21:00
Mass (kg)                 33
Velocity (m/s)          44.1
Energy             32.089365
Name: 26, dtype: object
Date              2019-01-23
Time                   08:00
Mass (kg)                220
Velocity (m/s)           9.1
Energy                9.1091
Name: 27, dtype: object
--------------------------------------
Date              2019-01-23
Time                   10:00
Mass (kg)                253
Velocity (m/s)          10.1
Energy             12.904265
Name: 28, dtype: object
Date              2019-01-23
Time                   14:00
Mass (kg)               2177
Velocity (m/s)           7.6
Energy              62.87176
Name: 29, dtype: object
Date              2019-01-24
Time                   02:00
Mass (kg)                827
Velocity (m/s)           8.5
Energy             29.875375
Name: 30, dtype: object
Date              2019-01-24
Time                   04:00
Mass (kg)                208
Velocity (m/s)          11.2
Energy              13.04576
Name: 31, dtype: object
--------------------------------------
Date              2019-01-25
Time                   04:00
Mass (kg)                 79
Velocity (m/s)           9.4
Energy               3.49022
Name: 32, dtype: object
--------------------------------------
--------------------------------------
Date              2019-01-26
Time                   20:00
Mass (kg)               1456
Velocity (m/s)           7.1
Energy              36.69848
Name: 33, dtype: object
--------------------------------------
Date              2019-01-27
Time                   10:00
Mass (kg)                464
Velocity (m/s)           7.8
Energy              14.11488
Name: 34, dtype: object
--------------------------------------
Date              2019-01-29
Time                   07:00
Mass (kg)                 50
Velocity (m/s)            40
Energy                  40.0
Name: 35, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-01-31
Time                   16:00
Mass (kg)               1131
Velocity (m/s)           6.4
Energy              23.16288
Name: 36, dtype: object
--------------------------------------
--------------------------------------
Date              2019-02-03
Time                   03:00
Mass (kg)                140
Velocity (m/s)          12.6
Energy               11.1132
Name: 37, dtype: object
--------------------------------------
--------------------------------------
Date              2019-02-04
Time                   12:00
Mass (kg)                274
Velocity (m/s)          10.3
Energy              14.53433
Name: 38, dtype: object
Date              2019-02-05
Time                   03:00
Mass (kg)                 12
Velocity (m/s)           8.8
Energy               0.46464
Name: 39, dtype: object
Date              2019-02-05
Time                   04:00
Mass (kg)                419
Velocity (m/s)          10.9
Energy             24.890695
Name: 40, dtype: object
--------------------------------------
Date              2019-02-06
Time                   02:00
Mass (kg)                 77
Velocity (m/s)            38
Energy                55.594
Name: 41, dtype: object
--------------------------------------
Date              2019-02-06
Time                   14:00
Mass (kg)                292
Velocity (m/s)           8.4
Energy              10.30176
Name: 42, dtype: object
--------------------------------------
--------------------------------------
Date              2019-02-08
Time                   12:00
Mass (kg)                169
Velocity (m/s)           6.5
Energy              3.570125
Name: 43, dtype: object
Date              2019-02-08
Time                   12:00
Mass (kg)                308
Velocity (m/s)             9
Energy                12.474
Name: 44, dtype: object
--------------------------------------
Date              2019-02-09
Time                   23:00
Mass (kg)               3040
Velocity (m/s)          10.4
Energy              164.4032
Name: 45, dtype: object
Date              2019-02-10
Time                   04:00
Mass (kg)                454
Velocity (m/s)           7.1
Energy              11.44307
Name: 46, dtype: object
--------------------------------------
Date              2019-02-10
Time                   20:00
Mass (kg)                 76
Velocity (m/s)          39.2
Energy              58.39232
Name: 47, dtype: object
--------------------------------------
Date              2019-02-11
Time                   20:00
Mass (kg)                554
Velocity (m/s)           8.7
Energy              20.96613
Name: 48, dtype: object
--------------------------------------
Date              2019-02-12
Time                   17:00
Mass (kg)                524
Velocity (m/s)           4.3
Energy               4.84438
Name: 49, dtype: object
--------------------------------------
Date              2019-02-14
Time                   05:00
Mass (kg)                138
Velocity (m/s)          33.2
Energy              76.05456
Name: 50, dtype: object
--------------------------------------
--------------------------------------
Date              2019-02-15
Time                   11:00
Mass (kg)                152
Velocity (m/s)          24.9
Energy              47.12076
Name: 51, dtype: object
Date              2019-02-15
Time                   13:00
Mass (kg)                123
Velocity (m/s)           9.7
Energy              5.786535
Name: 52, dtype: object
Date              2019-02-15
Time                   18:00
Mass (kg)                214
Velocity (m/s)          10.8
Energy              12.48048
Name: 53, dtype: object
--------------------------------------
Date              2019-02-16
Time                   18:00
Mass (kg)                241
Velocity (m/s)          40.6
Energy             198.62738
Name: 54, dtype: object
--------------------------------------
Date              2019-02-17
Time                   09:00
Mass (kg)                 74
Velocity (m/s)           9.7
Energy               3.48133
Name: 55, dtype: object
Date              2019-02-17
Time                   12:00
Mass (kg)                845
Velocity (m/s)           4.7
Energy              9.333025
Name: 56, dtype: object
Date              2019-02-18
Time                   03:00
Mass (kg)                567
Velocity (m/s)           8.2
Energy              19.06254
Name: 57, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-02-20
Time                   13:00
Mass (kg)                218
Velocity (m/s)           7.3
Energy               5.80861
Name: 58, dtype: object
Date              2019-02-21
Time                   00:00
Mass (kg)                609
Velocity (m/s)          12.4
Energy              46.81992
Name: 59, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-02-23
Time                   12:00
Mass (kg)                404
Velocity (m/s)          10.7
Energy              23.12698
Name: 60, dtype: object
Date              2019-02-23
Time                   20:00
Mass (kg)               1042
Velocity (m/s)          10.5
Energy              57.44025
Name: 61, dtype: object
Date              2019-02-23
Time                   21:00
Mass (kg)                294
Velocity (m/s)           9.8
Energy              14.11788
Name: 62, dtype: object
--------------------------------------
--------------------------------------
Date              2019-02-25
Time                   14:00
Mass (kg)                 97
Velocity (m/s)            30
Energy                 43.65
Name: 63, dtype: object
Date              2019-02-25
Time                   22:00
Mass (kg)               1917
Velocity (m/s)           9.5
Energy             86.504625
Name: 64, dtype: object
--------------------------------------
Date              2019-02-26
Time                   17:00
Mass (kg)               1175
Velocity (m/s)           9.6
Energy                54.144
Name: 65, dtype: object
Date              2019-02-26
Time                   23:00
Mass (kg)               1315
Velocity (m/s)           3.6
Energy                8.5212
Name: 66, dtype: object
--------------------------------------
Date              2019-02-28
Time                   05:00
Mass (kg)                 37
Velocity (m/s)          32.2
Energy              19.18154
Name: 67, dtype: object
--------------------------------------
Date              2019-02-28
Time                   12:00
Mass (kg)                 64
Velocity (m/s)          34.3
Energy              37.64768
Name: 68, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-03-01
Time                   15:00
Mass (kg)                873
Velocity (m/s)           6.3
Energy             17.324685
Name: 69, dtype: object
Date              2019-03-01
Time                   19:00
Mass (kg)                505
Velocity (m/s)           8.6
Energy               18.6749
Name: 70, dtype: object
Date              2019-03-01
Time                   21:00
Mass (kg)                191
Velocity (m/s)          10.8
Energy              11.13912
Name: 71, dtype: object
--------------------------------------
Date              2019-03-02
Time                   21:00
Mass (kg)                236
Velocity (m/s)           8.7
Energy               8.93142
Name: 72, dtype: object
--------------------------------------
--------------------------------------
Date              2019-03-04
Time                   23:00
Mass (kg)                129
Velocity (m/s)           8.3
Energy              4.443405
Name: 73, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-03-07
Time                   10:00
Mass (kg)                555
Velocity (m/s)           8.2
Energy               18.6591
Name: 74, dtype: object
Date              2019-03-07
Time                   14:00
Mass (kg)                401
Velocity (m/s)           9.5
Energy             18.095125
Name: 75, dtype: object
Date              2019-03-07
Time                   19:00
Mass (kg)                440
Velocity (m/s)           9.5
Energy                19.855
Name: 76, dtype: object
Date              2019-03-07
Time                   21:00
Mass (kg)                 55
Velocity (m/s)          31.7
Energy             27.634475
Name: 77, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-03-10
Time                   12:00
Mass (kg)                286
Velocity (m/s)           8.4
Energy              10.09008
Name: 78, dtype: object
Date              2019-03-10
Time                   16:00
Mass (kg)                  0
Velocity (m/s)          32.3
Energy                   0.0
Name: 79, dtype: object
Date              2019-03-10
Time                   18:00
Mass (kg)                154
Velocity (m/s)          11.6
Energy              10.36112
Name: 80, dtype: object
Date              2019-03-10
Time                   23:00
Mass (kg)                 45
Velocity (m/s)          32.2
Energy               23.3289
Name: 81, dtype: object
--------------------------------------
Date              2019-03-11
Time                   13:00
Mass (kg)                463
Velocity (m/s)           7.3
Energy             12.336635
Name: 82, dtype: object
Date              2019-03-11
Time                   18:00
Mass (kg)                406
Velocity (m/s)          44.1
Energy             394.79643
Name: 83, dtype: object
Date              2019-03-11
Time                   20:00
Mass (kg)                539
Velocity (m/s)          14.1
Energy             53.579295
Name: 84, dtype: object
--------------------------------------
Date              2019-03-12
Time                   18:00
Mass (kg)               2040
Velocity (m/s)          11.9
Energy              144.4422
Name: 85, dtype: object
Date              2019-03-12
Time                   19:00
Mass (kg)                460
Velocity (m/s)           6.9
Energy               10.9503
Name: 86, dtype: object
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------
--------------------------------------
Date              2019-03-17
Time                   09:00
Mass (kg)                 58
Velocity (m/s)          33.6
Energy              32.73984
Name: 87, dtype: object
Date              2019-03-17
Time                   12:00
Mass (kg)                185
Velocity (m/s)           6.5
Energy              3.908125
Name: 88, dtype: object
Date              2019-03-17
Time                   12:00
Mass (kg)                422
Velocity (m/s)            10
Energy                  21.1
Name: 89, dtype: object
--------------------------------------
Date              2019-03-18
Time                   16:00
Mass (kg)                167
Velocity (m/s)           8.9
Energy              6.614035
Name: 90, dtype: object
--------------------------------------
--------------------------------------
Date              2019-03-20
Time                   10:00
Mass (kg)                 16
Velocity (m/s)          42.1
Energy              14.17928
Name: 91, dtype: object
--------------------------------------
Date              2019-03-21
Time                   13:00
Mass (kg)                211
Velocity (m/s)            29
Energy               88.7255
Name: 92, dtype: object
--------------------------------------
Date              2019-03-22
Time                   18:00
Mass (kg)               2847
Velocity (m/s)             7
Energy               69.7515
Name: 93, dtype: object
--------------------------------------
--------------------------------------
Date              2019-03-24
Time                   16:00
Mass (kg)                  3
Velocity (m/s)          42.3
Energy              2.683935
Name: 94, dtype: object
--------------------------------------
Date              2019-03-25
Time                   14:00
Mass (kg)                 63
Velocity (m/s)          43.2
Energy              58.78656
Name: 95, dtype: object
Date              2019-03-26
Time                   00:00
Mass (kg)                 44
Velocity (m/s)           8.9
Energy               1.74262
Name: 96, dtype: object
Date              2019-03-26
Time                   06:00
Mass (kg)                 45
Velocity (m/s)           8.4
Energy                1.5876
Name: 97, dtype: object
--------------------------------------
--------------------------------------

In [13]:
#calculation of incident, stored inside incident list if requirements are matched or net is broken
incident = []
for i in range(len(slotboard)): #iterating through all slots
    netz = 1
    weight = 0
    zwischenfall = []
    for j in range(len(slotboard[i])): #iterating through all stones inside a slot
        if netz == 0:
            zwischenfall.append(slotboard[i][j])
        elif weight > 2000:
            if slotboard[i][j]["Energy"] >= 500:
                netz = 0
                zwischenfall.append(slotboard[i][j])
        elif slotboard[i][j]["Energy"] >= 1000:
            netz = 0
            zwischenfall.append(slotboard[i][j])
        weight = weight + int(slotboard[i][j]["Mass (kg)"])

    if len(zwischenfall) != 0:
        incident.append(zwischenfall)

#list is empty because no stone match our requirements, change 1000-> 100 to see how it would work
print(incident)

[]